:root{
	font-size:16px;
}
*{
	box-sizing: border-box;
}
.bg-dark {background-color: yellow;}
h1{
	color: black;
	text-align:center;
}

.partesuperior{min-height: calc(100vh - 150px);}

.fondos {
	background-color: rgba(194, 189, 189, 0.534); 
}

.titulo{
	top: 4px;
	left:35%;
	margin-bottom: 3rem;
}
.enlace{
	background-color: black;
	margin-top: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;	
	padding-left: 1rem;
	box-shadow: 3px 3px 6px rgb(56, 56, 56);
		li a:hover{
			font-weight: bold;
			border-radius: 10%;
			background-color: rgba(187, 184, 184, 0.801);
		}
	}

	#dropdownMenuLink{
		background-color: black;}
		#dropdownMenuLink:hover{
				font-weight: bold;
				border-radius: 10%;
				background-color: rgba(187, 184, 184, 0.801);
				border-color: none;
			}

	.dropdown-item:hover{background-color: rgba(187, 184, 184, 0.801);}

	.dropdown-menu {background-color: black;margin-top: 7px; border-radius: 1%; }
	
	.dropdown-item {color: white;}

	.btn{color: silver;
		border-color: silver;}

	.d-flex{margin: 1px 0 1px 19rem;
		}
	.lead{
			padding-right: 5rem;
			padding-left: 5rem;
		}

	#carruselboton{background-color: black;}

.cascada-gris{
	display: flex;
	width: 100%;
	height: 150px;
	background-color: black;
	color: silver;
	margin-top: 3rem;
	font-family: sans-serif;
	h4{ margin-top: 1rem;
		margin-left: 1rem;}
		.name{ margin-top: 3rem;
			margin-left:5rem;}
			.gmail{ margin-top: 3rem;
				margin-left: 5rem;}
				.telefono{ margin-top: 3rem;
					margin-left: 5rem;}
					.redes{ margin-top: 3rem;
						margin-left: 5rem;}
}		
.face{margin-top: 3rem;
	margin-left: 5rem;}
.juntos{
	display: flex;
}	
.tabla{
	box-shadow: 4px 4px 10px rgb(39, 39, 39);
	margin-top:2rem;
	margin-left: 16px;
	background-color: whitesmoke;
}

.imagen{
	margin-left: 10px;
	border:2px solid black;
	justify-content: space-between;
	padding-top: 5px;
	margin-right: 1rem;
}
.imagen{
	display:grid;
	grid-template-columns: 310px 310px 330px;
	grid-template-rows: 300px 50px;
	grid-template-areas: 'imagen1 lugar imagen3' 
						'texto1 texto2 texto3';
}
.remerazul {grid-area: imagen1; box-shadow: 5px 5px 5px rgb(39, 39, 39);}
.remeranaranja {grid-area: lugar;
				grid-column-start: 2; box-shadow: 5px 5px 5px rgb(39, 39, 39);}
.remeraroja {grid-area: imagen3; box-shadow: 5px 5px 5px rgb(39, 39, 39);}
.color1{grid-area: texto1; font-family: sans-serif; margin-top: 15px; margin-left: 3rem;  }
.color2{grid-area: texto2; font-family: sans-serif; margin-top: 15px; margin-left: 2rem;  }
.color3{grid-area: texto3; font-family: sans-serif; margin-top: 15px; margin-left: 2rem;  }

.mover{
	display: flex;
	.remerazul{
	border-radius: 15%;
	margin-left: 32px;}
	.remeranaranja{
		border-radius: 15%;	}
	.remeraroja{
border-radius: 15%;}
}

@media (max-width: 640px){
		.imagen{display:none;}
	
		.tabla{height: 235px; margin: 6px; margin-top: 2rem;}	

		.nike1{
			transform: translate(-108px ,-10px);
		}
		.nike2{
			transform: translate(-470px ,450px);
		}
		.nike3{
			transform: translate(-835px ,940px);
		}
		.nike4{
			transform: translate(-108px ,1000px);
		}
		.nike5{
			transform: translate(-470px ,1450px);
		}
		.nike6{
			transform: translate(-835px ,1900px);
		}

	
		.cascada-gris{
			padding: 1rem;
			margin-right: auto;
			margin-left: auto;
			height: 270px;
			width: 100%;
			background-color: black;
			font-family: sans-serif;
			
		} 
		
		.partesuperior {min-height: calc(100vh - 270px);}
		
		#footeresponsive{transform: translateY(2000px);}
		
		.gmail{ 
			h5{display: none;}
			transform: translate(-7px ,100px);
			height: 20px;
		}
		#logomail{
	
			transform: translate(-30px ,20px);
		}
	
		.telefono{ 
			h5{display: none;}
			transform: translate(-220px ,150px);
			height: 20px;
		}
		#logocel{
			transform: translate(-25px ,23px);
		}  
		.name{display: none;}      
		
		.redes{ 
			h5{display: none;}
			transform: translate(-380px ,50px);
			height: 20px;
		}
		.insta{
			h5{display: none;}
			transform: translate(-40px ,25px);
			
		}
		.face{
			h5{display: none;}
			transform: translate(-536px ,10px);
			height: 20px;
		}	
		#logoface{
			transform: translate(-35px ,25px);
		}
		
		
		
	#encuesta{width: 300px;}

	.nombreform	{margin: 7px;}
	
	.apellidoform{margin: 7px;}
	
	.mailform{margin: 7px;}
	
	#EMAIL{margin: 3px;}
	
	.encontrarform{margin: 7px;}
	
	.infoform{margin: 7px;}
	
	.opinionform{margin: 7px;}

	.ubicaciones{display: block;}
	
	#lugares{display: block;}
	
	.mapa1{ width: 250px; height: 250px;}
	
	.mapa2{ width: 250px; height: 250px; }
	
	#ubicacionesolar{margin-left: 0px;margin-top: 50px;}
    
	}
	
.mover{
	.remeraroja:active{transform: scale(1.1); }
	.remerazul:active{transform: scale(1.1);}
	.remeranaranja:active{transform: scale(1.1);}
}
#badge{ color: black;}

ul{
	color: blue;
}
.encuesta{
box-shadow: 4px 4px 10px rgb(39, 39, 39);
}
.ubicaciones{
	color: black;
	font-family:sans-serif;
	font-size:2rem;
	line-height:39px;}

.lugares{display: flex;
margin-top: 3rem;}

tbody{
	font-family:sans-serif;
}
thead{
	font-family: sans-serif;
}


.encuesta{
	border:solid black 1px;
	width: 32%;
	padding:8px; 
	font-family: sans-serif; 


#boton{color: white;
		background-color: rgba(0, 0, 0, 0.952); 
		border-color: silver;
		font-size:  15px; }


#search{ position: absolute;}
	line-height: 1.6;
	margin:auto;
	background-color: white;
}

.dato{
	margin-left: 3rem;
	font-family: sans-serif;
}

.ColorDeFondo{
	background-color: green;
}
.hacerBlock{
	display: block;
}
.insta{
	height: 30px;
	width:30px;
} 
.facebook{
	height: 30px;
	width: 30px;
}
.marca{
	text-align: center;
}

.grilla{
	margin-top: 2rem;
	display:grid;
	margin-left: 8rem;
	padding: 1rem;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 350px 350px ;
	gap:4rem;
	grid-template-areas: 
		'pantalon1 pantalon2 pantalon3'
		'gorra1 gorra2 gorra3';
}
.pantalon1{ grid-area: pantalon1;box-shadow: 4px 4px 10px rgb(39, 39, 39);}
.pantalon2{ grid-area: pantalon2;box-shadow: 4px 4px 10px rgb(39, 39, 39); }
.pantalon3{ grid-area: pantalon3;box-shadow: 4px 4px 10px rgb(39, 39, 39); }
.gorra1 {grid-area: gorra1;box-shadow: 4px 4px 10px rgb(39, 39, 39);}
.gorra2 {grid-area: gorra2;box-shadow: 4px 4px 10px rgb(39, 39, 39);}
.gorra3 {grid-area: gorra3;box-shadow: 4px 4px 10px rgb(39, 39, 39);}

.infodelpant{font-weight: lighter;
font-family: sans-serif; margin-top: 10px;}

.carrito{display: flex; margin-top: 8px;}

.pantalon1:active{transform: scale(1.2);}
.pantalon2:active{transform: scale(1.2);}
.pantalon3:active{transform: scale(1.2);}
.gorra1:active{transform: scale(1.2);}
.gorra2:active{transform: scale(1.2);}
.gorra3:active{transform: scale(1.2);}

.hacerblockmarca{
	text-transform: uppercase;
}
.ubicacionesoho{
	font-family: sans-serif;
}
.ubicacionesolar{
	font-family: sans-serif;
	margin-left: 5rem;
}
.mapa1{display: inline-block; margin-left: 1rem;}
.mapa2{display: inline-block; margin-left: 1rem;}
